{{link-to 'Back to list of orgs' 'orgs'}}

<h4>Facebook</h4>

<span{{action 'addToRecords' 'Two'}}>Click Me!!!!</span>


{{log records}}
<ul>
  {{#each records as |record|}}
    <li>{{record.id}}</li>
  {{/each}}
</ul>

{{outlet}}